In [1]:
import pandas as pd
import numpy as np

In [3]:
import setup_jwlab
from jwlab.run.computecanada_constants import df_path
from jwlab.ml_prep import load_ml_df, y_to_binary, no_average

df = load_ml_df(df_path)

In [4]:
df.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,59992,59993,59994,59995,59996,59997,59998,59999,label,participant
0,0,-13.517964,22.010553,10.012394,21.608709,-47.938713,3.326609,16.604320,-2.932594,7.207326,...,32.954323,17.554173,-28.639063,18.128828,31.486328,14.813962,9.645177,29.282951,17.0,0
1,3,-6.267445,-10.671413,0.578791,11.550019,-22.521195,10.500483,21.748081,4.407655,17.857426,...,-16.948093,-15.687717,36.943016,6.545364,-12.206253,28.711948,-3.582610,-13.335809,5.0,0
2,4,-5.051580,-10.781385,0.190375,1.368724,5.463544,7.725687,-3.148193,11.126657,9.978209,...,3.889105,1.637905,-4.101464,7.384897,4.721143,5.155228,1.844576,-2.275076,23.0,0
3,6,-5.336224,8.902582,1.747106,-3.788313,2.612656,-6.873928,-16.138010,-10.887217,-13.439786,...,-26.742655,-20.750853,12.206244,6.021628,-13.380303,16.875305,2.191557,-8.392258,19.0,0
4,7,14.368332,-7.143710,-1.941029,-4.037873,-16.169552,3.893104,-8.895123,2.405070,-0.573063,...,-4.218991,-15.093294,17.519402,5.642640,-7.015842,18.700117,-9.990950,-17.293606,13.0,0

In [6]:
from jwlab.ml_prep import load_ml_df, y_to_binary, no_average, average_trials

X,y,p,w = average_trials(df)

In [7]:
y

array([ 1.,  5.,  9., 11., 13., 15.,  0.,  1.,  2.,  3.,  4.,  5.,  6.,
        7.,  8.,  9., 10., 11., 12., 13., 14., 15.,  0.,  1.,  2.,  3.,
        4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13., 14., 15.,  0.,
        1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15.,  0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.,
       11., 12., 13., 14., 15.,  0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,
        8.,  9., 10., 11., 12., 13., 14., 15.,  1.,  5.,  9., 11., 13.,
       15.,  1.,  5.,  9., 11., 13., 15.,  1.,  5.,  9., 11., 13., 15.,
        0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15.,  0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9.,
       10., 11., 12., 13., 14., 15.,  0.,  1.,  2.,  3.,  4.,  5.,  6.,
        7.,  8.,  9., 10., 11., 12., 13., 14., 15.,  0.,  1.,  2.,  3.,
        4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13., 14., 15.])

In [8]:
np.mean(y_to_binary(y) == 0)

0.47619047619047616